# Define accounts and keys
accounts:
  # Accounts name
  - "Example":
      # API key
      - "Example"
      # API key secret
      - "Example"
      # Access token
      - "Example"
      # Access token secret
      - "Example"
  - "Example2":
      # API key
      - "Example"
      # API key secret
      - "Example"
      # Access token
      - "Example"
      # Access token secret
      - "Example"

# Use the antibot bypass feature (True/False)
bypass_antibot : True

# RSS
flux_rss:
    - https://www.24matins.fr/feed
    - http://feeds.feedburner.com/actu/dDcd

# Like all giveaway (True/False)
like_giveaway : False

# Comment with hashtag (True/False)
comment_with_hashtag : True

# Maximum number of giveaway retrieve for each word
max_giveaway : 10

# Number of accounts to tag
nb_account_to_tag : 2

# Minimum level wanted for script logging (DEBUG, INFO, WARNING, ERROR, CRITICAL)
logging_level : "INFO"

# Words to search for giveaway
words_to_search:
  - "#concours"
  - "#JeuConcours"
  - "concours pour gagner"
  - "Gagnez rt + follow"
  - "RT & follow"
  
# Period to check. How many days back from today
#Default : 0 : today
# 1 : yesterday and today
# 5 : since 5 days back
nb_days_rollback: 0

# Accounts we want to invite
accounts_to_tag:
  - "@j4rj4r_binks"

# Accounts that we don't want to follow
accounts_to_blacklist:
  - "@RealB0tSpotter"
  - "@jflessauSpam"
  - "@b0ttem"
  - "@BotSpotterBot"
  - "@gulzaarAvi"
  - "@BotFett"

# Sentences you need to tweet to invite a friend
sentence_for_tag:
  - "Génial :)"
  - "c'est parti !"
  - "qui ne tente rien n'a rien :p"
  - "Allez zou"
  - "Here we go"
  - "On y croit :o"
  - "Merci pour le jeu !!"
  - "Je tente le jeu"
  - "j'adore les cadeaux :p"
  - "go go go"
  - "je kiffe donc je tente"
  - "Merci à vous, c'est top"
  - "On y croit !"
  - "zoouu !"
  - "je joue ^^"
  - "Je kiff ce jeu"
  - "Je tente on sait jamais !"
  - "j'y crois à mort"
  - "goooo ! :D"
  - "Je joue :)"
  - "allez je tente le concours"
  - "Que la chance soit avec moi"
  - "Que la chance me sourit :)"
  - "Allez là, j'y crois"
  - "hello, je joue, merci à vous"
  - "Allez c'est pour moi"

# hashtag we don't want to tweet
hashtag_to_blacklist:
  - "giveaway"
  - "concours"
  - "rt"
  - "follow"
  - "jeuconcours"
  - "jeu"
  - "jeux"
  - "cadeau"
  - "cadeaux"
  - "concour"
  - "giveway"
  - "tweet"
  - "commente"
  - "followers"
  - "follower"
  - "twitter"
  - "tag"
  - "jeuxconcours"
  - "giveawayalert"
  - "retweet"
  - "mentionne"
  - "kdo"
  - "gratuit"
  - "cadeaunoel"
  - "annonce"
  - "noel"
  - "joyeuxnoel"

# We don't want to participate in giveaway with these words
giveaway_to_blacklist:
  - "nude"
